!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light', rel='stylesheet', type='text/css')
    link(href='/stylesheets/interface.style.css', rel='stylesheet')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/transformjs.js')
  body
    img(id='shark', src='/images/shark.jpg', style='position:absolute;left:-1000px')
    #console
    
    #remote
      #dropFile
    
    script(src='/javascripts/upload.js')
